<h1 class="title">TripSplit</h1>

<%= render partial: 'shared/phone_screenshots' %>

<div class="content">
    <div class="tab">
        <div class="tab-content">
            <img id="app_icon" src="images/logo.png" align="right" alt="" height="75" />
            <h1>TripSplit - Making traveling with friends great again</h1>
            <p>
              Hitting the road with a group of friends always results in great stories. While fun times are to be had by all, keeping track of money spent for lodging, gas, or crazy outfits to make everyone stand out is always a hassle. Enter TripSplit to make managing trip exensives much easier.
            </p>
            <p>
              TripSplit allows all members of your traveling party to track their expenses or let the organizer do it all for the group. Using a simple, intuitive interface mark expense obligations as paid and view a ledger between each friend to see how much you owe them or how much they owe you.
            </p>
            <p>
              Having TripSplit on your phone will allow you to focus more time on enjoying traveling with friends and less on money!
            </p>
            <p>If you would like to be an early beta tester please contact me at <a href="mailto:rsnorman15+tripsplit@gmail.com?subject=TripSplit Beta Tester&body=I would like to be a TripSplit beta tester. Please send me a link to download the app.">rsnorman15@gmail.com</a>.
            </p>
            <%= render partial: 'shared/store_badges' %>
        </div>
    </div>
</div>
