@import 'variables';

.button {
  background-color: $color-primary-4;

  &:hover {
    background-color: $color-primary-3;
  }

  &:focus {
    background-color: $color-primary-3;
  }
}

.button[disabled] {
  background-color: $color-primary-1;

  &:hover {
    background-color: $color-primary-2;
  }
}
