@import 'variables';

a {
  color: $color-primary-4;
  background-color: none;

  &:hover {
    color: $color-primary-2;
    text-decoration: underline;
    background: none;
  }

  &:visited, &:active, &:focus {
    outline: none;
    color: $color-primary-4;
    background: none;
  }
}
