@import 'variables';

#page_title {
  margin-bottom: 10px;

  h2 {
    font-size: 1.8em;
    font-family: 'Work Sans', sans-serif;
    color: $color-primary-4;
    float: left;
  }
}

#secondary_page_title {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
