@import 'variables';

#trip_description {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-primary-2;

  .trip-image {
    float: left;
    margin-right: 15px;
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
  }
}

.member-summary {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $color-primary-2;

  &:last-child {
    border-bottom: none;
  }
}

.member-details {
  margin-bottom: 5px;
  padding-bottom: 5px;

  .member-name {
    font-size: 1.3em;
    font-weight: bold;
    color: $color-primary-4;
    margin-top: 20px;
  }

  .member-image {
    width: 60px;
    height: 60px;
    float: right;
    border-radius: 30px;
  }
}

.member-summary-section {
  margin-top: 20px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: $color-primary-1;
  font-size: 1.1em;
}

.member-purchase {
  margin-bottom: 5px;
  padding-bottom: 5px;

  .purchase-image {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 25px;
    margin-right: 10px;
  }
}

.owing-member, .crediting-member {
  margin-bottom: 5px;
  padding-bottom: 5px;

  .owing-member-image, .crediting-member-image {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 25px;
    margin-right: 10px;
  }
}

.empty-row {
  font-style: italic;
}

.money {
  font-weight: bold;
  color: $color-primary-0;
  font-size: 1.1em;
  text-align: right;
}

.empty-image {
  background-color: $color-primary-1;
  color: white;
  font-size: 1.8em;
  display:flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center;
}

.total-row {
  background-color: $color-primary-5;
  text-align: right;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;

  .total-label {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
  }
}
