@import 'variables';

header {
  background-color: $color-primary-4;
  width: 100%;
  margin-bottom: 10px;
  color: #fff;

  .row {
    width: 800px;
    padding-left: 5px;
  }

  h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 32px;
    float: left;

    a, a:visited, a:active, a:focus {
      color: #ffffff;
      transition: color 0.2s;
    }

    a:hover {
      color: $color-primary-2;
      text-decoration: none;
    }
  }
}

.top-bar, .top-bar ul {
  background-color: $color-primary-4;
  padding-top: 0;
  padding-bottom: 0;
}

#title_bar_menu {
  float: right;
  margin-top: 10px;

  .is-dropdown-submenu {
    min-width: 120px;
    padding: 5px;
    padding-right: 23px;
    text-align: right;
    background-color: $color-primary-3;
  }

  a, button {
    color: #ffffff;
    font-weight: bold;
  }
}

@media only screen and (max-device-width: 800px), only screen and (max-width: 800px) {
  header {
    .row {
      width: 100%;
      padding: 0 2%;
    }
  }
}

@media only screen and (max-device-width: 380px), only screen and (max-width: 380px) {
  header {
    .row {
      width: 100%;
      padding: 0 2%;
    }
  }
}
