@import 'variables';

header {
  background-color: $color-primary-4;
  width: 100%;
  margin-bottom: 10px;
  color: #fff;
  padding: 0 33px;

  h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 32px;
    float: left;

    a, a:visited, a:active, a:focus {
      color: #ffffff;
      transition: color 0.2s;
    }

    a:hover {
      color: $color-primary-2;
      text-decoration: none;
    }
  }
}

.top-bar, .top-bar ul {
  background-color: $color-primary-4;
  padding-top: 0;
  padding-bottom: 0;
}

#title_bar_menu {
  float: right;
  margin-top: 10px;

  .is-dropdown-submenu {
    min-width: 120px;
    padding: 5px;
    padding-right: 23px;
    text-align: right;
    background-color: $color-primary-3;
  }

  a, button {
    color: #ffffff;
    font-weight: bold;
  }
}


@media only screen and (max-device-width: 380px), only screen and (max-width: 380px) {
  header {
    padding: 5px;
  }
}
