@import 'variables';

.trip-member {
  margin-bottom: 15px;
  text-align: left;

  .member-image {
    float: left;
    margin-right: 15px;
  }
  img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }
}

#trip_invite {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid $color-primary-2;
}

@media only screen and (max-device-width: 380px), only screen and (max-width: 380px) {
  #join_trip_button {
    width: 100%;
  }
}
