$main-width: 900px;

$color-primary-0: #4498bb;	// Main Primary color */
$color-primary-1: #006a8b;
$color-primary-2: #7ac9ee;
$color-primary-3: #4498bb;
$color-primary-4: #006a8b;
$color-primary-5: #EAF2F4;
