
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>TripSplit</title>

  <meta name="robots" content="noimageindex">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link href="stylesheets/application.css" type="text/css" rel="stylesheet"></link>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="javascripts/bluebar.js" type="text/javascript"></script>
  <script src="javascripts/slideshow.js" type="text/javascript"></script>
</head>
    <body class="page-home">


        <div class="root">

            <div class="page">



                <div class="main">

    <div id="home-bg">
    </div>

    <div class="wrap">
        <h1 class="title">TripSplit - Making traveling with friends great again</h1>
        <div class="home-phones" id="iphone">
            <div id="iphone-overlay">
                <img src="images/screenshot1.png" class="active" />
                <img src="images/screenshot2.png" />
                <img src="images/screenshot3.png" />
                <img src="images/screenshot4.png" />
            </div>

            <i class="home-phones-glare"></i>
        </div>
        <div class="content">
            <div class="tab">
                <div class="tab-content">
                    <img id="app_icon" src="images/logo.png" align="right" alt="" height="75" />
                    <h1>TripSplit - Making traveling with friends great again</h1>
                    <p>
                      Hitting the road with a group of friends always results in great stories. While fun times are to be had by all, keeping track of money spent for lodging, gas, or crazy outfits to make everyone stand out is always a hassle. Enter TripSplit to make managing trip exensives much easier.
                    </p>
                    <p>
                      TripSplit allows all members of your traveling party to track their expenses or let the organizer do it all for the group. Using a simple, intuitive interface mark expense obligations as paid and view a ledger between each friend to see how much you owe them or how much they owe you.
                    </p>
                    <p>
                      Having TripSplit on your phone will allow you to focus more time on enjoying traveling with friends and less on money!
                    </p>
                    <p>If you would like to be an early beta tester please contact me at <a href="mailto:rsnorman15+tripsplit@gmail.com?subject=TripSplit Beta Tester&body=I would like to be a TripSplit beta tester. Please send me a link to download the app.">rsnorman15@gmail.com</a>.
                    </p>
                    <div class="platform-badge-container">
                        <a
  class="platform-badge"
  href="/download/ios/"
  onclick="
    alert('Coming soon…');
    return false;
  ">
  <img
    alt="Available on the App Store"
    src="images/badge_ios.png"
  />
</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

                </div> <!-- .main -->


            </div> <!-- .page -->


            <footer class="page-footer" role="contentinfo">
                <div class="wrapper">
                    <nav>
                        <ul>
<!--                             <li><a href="/about/us/">About us</a></li>
                            <li><a href="/about/legal/privacy/">Privacy</a></li>
                            <li><a href="/about/legal/terms/">Terms</a></li> -->
                        </ul>
                    </nav>

                    <p class="copyright">&copy; 2017 TripSplit</p>
                </div>
            </footer>


        <div id="reactModalMountPoint"></div>
    </div> <!-- .root -->

    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43183791-1', 'auto');
      ga('send', 'pageview');

    </script>


    </body>
</html>
